---
import Layout from '../layouts/Layout.astro';
---

<Layout title="關於我">
    <main style="padding: 2rem; max-width: 800px; margin: 0 auto;">
        <h1>關於我</h1>
        <p>你好！我是台大資工系 (NTU CSIE) 的學生與研究員。</p>
        <p>我目前專注於 Vision-Language Models (VLM)、ROS 2 系統開發，以及機器人的環境感知研究。平時也喜歡動手做些像是 Raspberry Pi 的硬體小專案！</p>
    </main>
</Layout>